<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.springboot.mapper.UserMapper">

	<resultMap id="resultUser" type="com.vue.springboot.domain.UserDTO" >
		<result property="user_no" column="user_no" />
		<result property="user_id" column="user_id" />
		<result property="user_pw" column="user_pw" />
		<result property="user_name" column="user_name" />
	</resultMap>
	
	<insert id="registerUser">
		INSERT INTO USER VALUES (
			user_no
			,#{user_id}
			, #{user_pw}
			, #{user_name}
		)
	</insert>
</mapper>